<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This application is powered by :</p>
        <p><a href="https://www.mapbox.com"><img class="portrait" src="/img/mapbox.png"</a> <a href="https://darksky.net"><img class="portrait" src="/img/darksky.png"</a></p>
    
    </div>
    
    {{>footer}}
</body>

</html>