<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
        <p>1. Think about a place.</p>
        <p>2. Type it in the search box.</p>
        <p>3. Voila! You get the live weather report.</p>
        <hr>
        <p>Still stuck? DM <a id ="insta" href="https://www.instagram.com/dj.robin17/">@dj.robin17</a></p>
        <img class="portrait" src="/img/me.jpeg">
    </div>
    
    {{>footer}}
</body>

</html>